body{
  background-image: url("https://i.pinimg.com/564x/44/13/ff/4413ffc8b0370b7ed0a3012cf7f6903d.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
 
}
h1{
  font-size: 16px;
  color: transparent;
  background: linear-gradient(45deg,#095CDC,#3EDEA8);
  -webkit-background-clip: text;
}
input{
  border-bottom: 1px solid #00D5B7;
  border-top: none;
  border-left: none;
  border-right: none;
  font-size: 7px;
  width: 120px;
  outline: none;
  margin-top: 12px;
}
.btn{
  background: linear-gradient(45deg,#095CDC,#3EDEA8);
  color: white;
  height: 26px;
  width: 100px;
  margin-top: 15px;
}
form{
  border: none;
  width: 20%;
  height: 250px;
  padding-top: 30px;
  background-color: white;
  margin-left: 40%;
  margin-top: 15%;
}